<div class="container">
  <form class="py-4" [formGroup]="myForm" (ngSubmit)="onSubmit(myForm)" >
    <div class="row d-flex align-items-center justify-content-between">
      <div class="col-6 d-flex flex-column">
        <label>Longitude</label>
        <input type="text" class="form-control" [formControl]="longitudeController" >
      </div>
      <div class="col-6 d-flex flex-column">
        <label>Latitude</label>
        <input type="text" class="form-control" [formControl]="latitudeController" >
      </div>
    </div>
    <div class="d-flex justify-content-between mt-3">
      <div class="d-flex align-items-center">
        <input type="checkbox" class="form-check" id="read-only" [formControl]="readOnlyController" (change)="onChangeReadOnly()" >
        <label class="mx-1" for="read-only">Read only</label>
      </div>
      <button type="submit" class="submit-btn">Submit</button>
    </div>
  </form>
  <app-map #childComponent [readOnly]="readOnly" ></app-map>
</div>
